$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lora', serif;
$font-third: 'Muli', sans-serif;

$white: #FFFFFF;
$dark-navy: #182540;
$red: #e50612;
$navy: #1c2b4b;
$grey: #acacac;
$red-gradient: linear-gradient( 90deg,#e50612,#730309);
$red-gradient-invert: linear-gradient( 270deg,#e50612,#730309)
